label{

    position: relative;
    display: flex;
    width: 50px;
    height: 30px;
    background-color: #c9c9c9;
    cursor: pointer;
    border-radius: 100px;
    align-items: center;
    transition: all .5s;
}

label::before{

   content: "";
   position: absolute;
   background-color: white;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   left: 4px;
}

#checkbox{

    display: block;
}

#checkbox:checked + {

    background-color:  #93cdd4;
}

#checkbox:checked + label{

    background-color: #9999e2;
}


#checkbox:checked + label::before{

    background-color: white;
    left: calc((50px - 22px) - 5px);
}