@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    user-select: none;
}

:root{
    --vclaro:#CEF09D;
    --azul:  #1C646D;
    --escuro:#1F0802;
    --roxo:  #38184C;
    --musgo: #A0CD60;
}

@media (orientation: landscape)
{
  header{
    background-color: black;
  }
}


@media (orientation: portrait){ 
    /* ::-webkit-scrollbar{display: none;} */

    html{
        min-width: 375px;
        min-height: 667px;
    }
    body{
        background-color: lightgray;
        min-width:100%;
        min-height:100%;
    }
    
    header{
        display: flex;
        flex-direction: column;
        background-position: cover;
        min-height: 190px;
        padding: 50px 30px;
        background: url(../imagens/67de04ff23291087f134473449315612.jpg) no-repeat;
        background-position: 24px -160px;
        background-size: cover;
        background-color: rgb(70, 85, 168);
    }

    header a i{
        color: white;
        float: right;
        overflow: hidden;
        clear: both;
        font-size: 2em;
        padding: 5px;
        background-color: gray;
    }

    
    h1{
        text-align: center;
        padding-left: 20px;
    }

    span{
        color: rgb(136, 142, 197);
    }
   

    input{
        min-width: 300px;
        border: none;
        padding: 10px;
        margin-top: 50px;
        border-radius: 15px;
        opacity: 0.7;
        box-shadow: 0px 4px 8px #0418549f;
    }

    input::placeholder{
        font-size: 1.3em;
        color: black;
    }

    header nav{
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        margin-bottom: 5px;
        bottom: 0;
        left: 10px;
        width: 90vw;
        align-content: center;
        border-radius: 10px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.1));
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 5;
    }

    header nav a{
        filter: invert();
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-width: 60px;
        min-height: 40px;
        margin-bottom: 4px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    
    main{
        min-height: 667px;
        min-width: 375px;
        background-color: brown;

    }
    
    main section{
        min-width: 375px;
        background-color: green;
    }

    #popups{
        display: flex;
        overflow-x: scroll;
        padding: 24px;
        width: 300px;
        scroll-snap-type: x mandatory;
        scroll-padding: 24px;
        margin: auto;
        border-radius: 8px;
        gap: 20px;
        
    }

    #popups .pop-up-img{
        flex: 0 0 100%;
        padding: 24px;
        scroll-snap-align: start;
        background-color: gray;
        width: 100px;
        height: 300px;
        border-radius: 8px;
    }

    .btnpop{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5em;
        font-weight: 100;
        bottom: 10px;
        background-color: black;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transform: translate(-40px, 230px);
    }
    
    main aside{
        /* visibility: hidden; */
        background-color: orange;
    }
}