@charset "UTF-8";
<<<<<<< HEAD

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root{
    --font1: Tahoma, Geneva, Verdana, sans-serif;
    --versos: 'Edu VIC WA NT Beginner', cursive;
    --titulos: 'Merriweather', serif;
=======
@font-face {
    font-family: cinzel;
    src: url();
>>>>>>> 535af82cd6d5153405a9b3895afca26502e4e2ea
}
* {margin: 0px; padding: 0px;}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--titulos);
    font-size: 8vw;
}

header p{
    padding-bottom: 50px;
}


a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
<<<<<<< HEAD
    font-family: var(--versos);
    font-weight: bold;
    font-size: 4vw;
=======
    font-size: 3.5vw;
}

section p{
    padding-bottom: 2em;
>>>>>>> 535af82cd6d5153405a9b3895afca26502e4e2ea
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: #000000c7;
    color: white;
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.395);
    background-attachment: fixed;
}

.imagem p{
<<<<<<< HEAD
    display: inline-block;
    background-color: #00000045;
    padding: 10px;
=======
    width: 400px;
    background-color: #00000063;
    padding: 10px;
    border-radius: 5px;
>>>>>>> 535af82cd6d5153405a9b3895afca26502e4e2ea
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}

