@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root{
    --font1: Tahoma, Geneva, Verdana, sans-serif;
    --versos: 'Edu VIC WA NT Beginner', cursive;
    --titulos: 'Merriweather', serif;
}
* {margin: 0px; padding: 0px;}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--titulos);
    font-size: 8vw;
}

header p{
    padding-bottom: 50px;
}


a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--versos);
    font-weight: bold;
    font-size: 4vw;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: #000000c7;
    color: white;
}

.imagem p{
    display: inline-block;
    background-color: #00000045;
    padding: 10px;
}


